
html{
    background-color: #5381ec;
    background-repeat: no-repeat;
    background-size: auto;
}

body, html{
    height: 95%;
    padding: 0;
}

body{
    min-width: 1000px;
    width: auto;
    min-height: 600px;
}

h1{
    color:white;
    padding:40px;
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    font-size: 40px;
}

#logo{
    height: 100px;
    width: 100px;
    padding-right: 2%;
}

img{
    width: 150px;
    height: 132px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}


#sredina {
    margin-left: auto;
    margin-right: 2%;
    width: 75%;
    background-color: cornflowerblue;
    height: 74%;
    border: medium solid white;
    overflow-y: auto;
}

h4{
    font-family: 'Rokkitt', serif;
    font-weight: bold;
}

h2{
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    margin-left: 22%;
    color: white;
}

#novosti{
    width: 50%;
    height: 80%;
    border: medium solid white;
    margin-left: 1%;
    overflow-y: auto;
    min-width: 300px;
    float: left;
}

#navigateDiv{
    width: 15%;
    float: left;
    background-color: cornflowerblue;
    border: medium solid white;
    height: 74%;
    padding-left: 1%;
    min-width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listItem{
    border: medium solid white;
    height: 46%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

a{
    color: white;
    font-family: 'Rokkitt', serif;
    font-size: x-large;
}

a:hover{
    color: yellow;
}

.naslov{
    text-align: center;
    color: yellow;
    text-decoration: underline;
    font-weight: bolder;
    font-family: 'Rokkitt', serif;
    font-size: x-large;
}

footer p{
    text-align: center;
    font-family: 'Rokkitt', serif;
    color: white;
}

#nesto{
    float: right;
    width: 40%;
    height: 100%;
    margin-top: -6.5%;
}

#nesto img{
    border: medium solid white;
    width: 100%;
    height: 70%;
    margin-top: 5%;
    margin-left: -10%;
}

#nesto h2{
    text-align: center;
    margin-left: -20%;
}

p{
    text-align: center;
    color: white;
    font-family: 'Rokkitt', serif;
}

.nastavi{
    font-size: medium;
    text-align: right;
}

.nastaviLink{
    text-align: right;
    margin-right: 1%;
    margin-top: -1%;
}

#oNama{
    margin-left: auto;
    margin-right: 7%;
    width: 70%;
    background-color: cornflowerblue;
    height: 74%;
    border: medium solid white
}

fieldset{
    border-style: none;
}

#kontaktNaslov{
    text-align: center;
    margin-top: -5%;
    margin-bottom: -5%;
    font-family: 'Rokkitt', serif;
    font-weight: bold;
}

label{
    font-family: 'Rokkitt', serif;
    color: white;
    font-weight: bolder;
    margin-right: 5%;
    display:inline-block;
    text-align: right;
    width: 30%;
}

textarea{
    max-height: 60px;
    max-width: 50%;
    width: 30%;
    font-family: 'Rokkitt', serif;
    color: darkblue;
    font-size: large;
}

.unosPodataka{
    width: 30%;
    font-family: 'Rokkitt', serif;
    color: darkblue;
    font-size: large;
}

#submitButton{
    margin-left: 40%;
    width: 10%;
    height: 30px;
    font-family: 'Rokkitt', serif;
    font-size: large;
    color: darkblue;
}

#resetButton{
    margin-left: 2%;
    width: 10%;
    height: 30px;
    font-family: 'Rokkitt', serif;
    font-size: large;
    color: darkblue;
}

#submitButton3{
    margin-left: 40%;
    width: 12%;
    height: 30px;
    font-family: 'Rokkitt', serif;
    font-size: large;
    color: darkblue;
}

#submitButton:hover, #resetButton:hover, #submitButton3:hover{
    background-color: yellow;
}


#dnevniSati{
    width: 15%;
    max-width: 15%;
    font-family: 'Rokkitt', serif;
    font-size: large;
    color: darkblue;
    text-align: center;
}

#unosGrada{
    width: 15%;
    max-width: 15%;
    font-family: 'Rokkitt', serif;
    font-size: large;
    color: darkblue;
    text-align: center;
}

table{
    border: medium solid white;
    margin-left: auto;
    margin-right: auto;
}

th, td{
    border: thin solid white;
    font-family: 'Rokkitt', serif;
    color: darkblue;
}

td{
    color: white;
    text-align: center;
}

#projekti{
    width: 45%;
    height: 93%;
    margin: 1%;
    margin-left: 2%;
    overflow-y: auto;
    min-width: 300px;
    overflow-x: hidden;
    float: left;
}

#partneri{
    float: right;
    width: 42%;
    height: 100%;
    margin: 1%;
    margin-right: 2%;
}

#partneri h2{
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    margin-left: -0.01%;
    color: white;
}

#listaPartnera{
    list-style-image: url('Images/partnerSun.ico');
    margin-left: 2%;
}

#listaPartnera li{
    font-family: 'Rokkitt', serif;
    font-weight: bold;
    margin-left: 5%;
    color: white;
}

#izborProjekta{
    width: 90%;
    height: 90%;
}

#tekstProjekta{
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    height: 70%;
    border: medium solid white;
    text-align: justify;
}

.labeleprojekta{
    font-family: 'Rokkitt', serif;
    color: white;
    font-weight: bolder;
    margin-left: 10%;
    display:inline-block;
    text-align: right;
    width: 30%;
}

span{
    margin-right: 100px;
}

img.error{
    content:url("http://png-2.findicons.com/files/icons/1609/ose_png/256/warning.png");
    height: 25px;
    width: 25px;
    float: right;
    margin-top: -0.2%;
    margin-right: 28%;
}

img.greska{
    content:url("http://png-2.findicons.com/files/icons/1609/ose_png/256/warning.png");
    height: 25px;
    width: 25px;
    float: right;
    margin-top: -0.2%;
    margin-right: 28%;
}

.errorTekst1{
    color: #b63636;
    font-weight: bolder;
    float: right;
    margin-top: -2.7%;
    margin-right: 10%;
    text-align: center;
}

.errorTekst2{
    color: #b63636;
    font-weight: bolder;
    float: right;
    margin-top: -2.7%;
    margin-right: 5%;
    text-align: center;
}

.errorTekst3{
    color: #b63636;
    font-weight: bolder;
    float: right;
    margin-top: -2.7%;
    margin-right: 5%;
    text-align: center;
}

.errorTekst4{
    color: #b63636;
    font-weight: bolder;
    float: right;
    margin-top: -2.7%;
    margin-right: 6%;
    text-align: center;
}

.errorTekst5{
    color: #b63636;
    font-weight: bolder;
    float: right;
    margin-top: -2.7%;
    margin-right: 8%;
    text-align: center;
}

.tabs {
    margin-top: 2%;
    margin-left: 5%;
    width:90%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
    font-family: 'Rokkitt', serif;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background-color: #5381ec;
    font-size:16px;
    font-weight:600;
    color: #ffffff;
    transition:all linear 0.15s;
    font-family: 'Rokkitt', serif;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color: darkblue;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background-color: cornflowerblue;
    border: outset thick #ffffff;
    color: #ffffff;
    font-family: 'Rokkitt', serif;
    height: 300px;
    overflow-y: auto;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

.prviNivo{
    font-family: 'Rokkitt', serif;
}

.drugiTekst{
    font-weight: bolder;
}

.treciNivo{
    text-indent: 30px;
}

.cetvrtiNivo{
    text-indent: 60px;
}

.cetvrtiNivo li{
    text-indent: 90px;
}

#reklama{
    text-align: justify;
    color: white;
    font-family: 'Rokkitt', serif;
    margin-left: 5%;
    margin-right: 5%;
}

#tabelaProizvoda{
    table-layout: fixed;
}

th, td {
    overflow: hidden;
    width: 160px;
}

.produkt{
    height: 120px;
}

.produkt td{
    margin: auto;
    font-size: x-large;
}

#submitButton2{
    margin-left: 35.3%;
    width: 10%;
    height: 30px;
    font-family: 'Rokkitt', serif;
    font-size: large;
    color: darkblue;
}

.submitButton34{
    width: 10%;
    height: 30px;
    font-family: 'Rokkitt', serif;
    font-size: large;
    color: darkblue;
}

#greskaText5{
    margin-top: -5%;
}

#rucnaGreska, #rucnaGreska2, #rucnaGreska3, #rucnaGreska4, #rucnaGreska5{
    display: none;
}

.provjera{
    margin-left: 1%;
}

#kontaktPrikaz{
    margin-left: auto;
    margin-right: 12%;
    width: 92.5%;
    background-color: cornflowerblue;
    border: medium solid white
}

.lijeva{
    text-align: right;
    margin-left: 10%;
}

.pregled{
    font-weight: bold;
    font-family: 'Rokkitt', serif;
    color: darkblue;
    border: none;
}